body {
    background-image: url("../image/fashion-background.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    text-align: left;
    color: rgb(93, 143, 114);
    background-color:rgb(37, 83, 83) ;
    border-color: rgb(93, 143, 114);
    font-size: 75%;
    font-family: Arial, Helvetica, sans-serif;
    border: width 1px;
    margin: auto; 
}

a{
    text-align: justify;
    color: rgb(93, 143, 114);
    border-color: rgb(93, 143, 114);
    background-color:rgb(37, 83, 83);
    font-size: 280%;
    font-family: Arial, Helvetica, sans-serif;
    border: width 1px;
    margin: auto;  
}

h1{
    text-align: center;
    color: rgb(37, 83, 83);
    background-color: rgb(93, 143, 114);
    border-color: rgb(37, 83, 83);
    border: width 1px;
    margin: auto;
    padding: 10px;
    font-size: 450%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: underline;
    border-style: solid;
}

h2{
    text-align: left;
    color: rgb(51, 66, 51);
    background-color: rgb(214, 202, 136);
    border-color: rgb(51, 66, 51);
    border: width 1px;
    margin: auto;
    padding: 10px;
    font-size: 350%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: underline;
    border-style: solid;
}

p{
    text-align: left;
    color: rgb(214, 202, 136);
    background-color:rgb(51, 66, 51) ;
    border-color: rgb(93, 143, 114);
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
    border: width 1px;
    margin: auto; 
    padding: 10px; 
    border-style: solid;
}

a:hover {
    color: white;
    background-color: rgb(0, 0, 0);
}